footer {
  padding: 4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  background: var(--color-secondary);
  border-top: var(--border-header-size) var(--border-color) solid;

  --color-primary-text: var(--color-sand);
  color: var(--color-primary-text);
  text-align: center;
}
footer > * {
  max-width: var(--header-max-width);
}
footer h2 {
  margin-bottom: 0;
}
.footer__first {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}
footer ul {
  list-style: none;
  margin: 0;
}
footer a {
  display: block;

  color: var(--color-primary-text);
  font-weight: 500;
}
footer p {
  margin-bottom: 0;
}
footer h4 {
  margin-bottom: 0.15rem;
}
