@use "vars";

form {
  display: inline-flex;
  flex-direction: row;
  gap: 2rem;

  @media only screen and (max-width: vars.$bp-small) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
form.larger {
  width: 100%;

  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & > .form--reverse {
    width: 100%;

    flex-direction: row;
    gap: 2rem;

    @media only screen and (max-width: vars.$bp-mid) {
      flex-direction: column;
      gap: 1rem;
    }

    & > * {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

input {
  padding: 0.5rem;

  font-size: 1rem;
  line-height: 1.4em;

  background: var(--input-color);
  color: var(--input-text-color);
  border: var(--border-base-size) var(--border-color) solid;

  transition: 0.3s ease;

  &:focus {
    box-shadow: 0.3em -0.3em 0 var(--color-accent-light);
    border: var(--border-base-size) var(--border-color-accent) solid;
    outline: none;
  }
}

button {
  border: none;
  cursor: pointer;
}

.response {
  margin: 1rem 0;
  padding: 0.5rem 1rem;

  display: block;

  &--success {
    color: var(--color-black);
    background: var(--color-success);
  }

  &--danger {
    color: var(--color-sand);
    background: var(--color-danger);
  }

  & p {
    margin-bottom: 0;
  }
}
