:root {
  --color-secondary: hsl(19, 95%, 45%);
  --color-tertiary: hsl(19, 100%, 93%);
  --color-accent: hsl(217, 100%, 48%);
  --color-accent-light: hsl(217, 100%, 65%);

  --color-success: hsl(95, 55%, 55%);
  --color-danger: hsl(357, 70%, 33%);

  --content-max-width: 900px;
  --header-max-width: calc(var(--content-max-width) + 200px);

  font-size: 20px;
}

@font-face {
  font-family: Salmond;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Salmond/Salmond-Light.ttf");
}
@font-face {
  font-family: Salmond;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Salmond/Salmond-Semibold.ttf");
}

body {
  font-family: Inter, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Salmond, sans-serif;
  font-weight: bold;
  line-height: 1.4em;

  /*padding-top: 0.3em;*/ /* to correctly align headings */
  margin-bottom: 0.5em;
}

h1 { font-size: 2em; font-weight: 800; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}
a:hover { text-decoration: underline; }

em { font-style: italic; }
b { font-weight: bold; }

ul, ol {
  margin-left: 2em;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

ul { list-style: disc; }
ol { list-style: decimal; }

li { 
  line-height: 1.2em; 
  margin-bottom: 0.25rem;
}

img {
  width: 100%;
  border: 2px black solid;
}

code { 
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.2em;
}

pre {
  margin-left: -1rem; 
  margin-right: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  background: #000;

  color: var(--color-tertiary);
}

form {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
}

input {
  padding: 0.5rem;

  font-size: 1rem;
  line-height: 1.4em;
}

button {
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 2rem;
  align-items: center;
}

.btn {
  padding: 0.5em 1em;

  display: inline-block;

  font-size: 1.1rem;

  color: #000;
  background: var(--color-accent-light);
  /*box-shadow: -0.3em 0.3em 0 var(--color-secondary);*/
  border: 2px black solid;

  transition: .3s ease;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background: var(--color-secondary);
  box-shadow: 0.3em -0.3em 0 var(--color-accent-light);
}
.btn.small {
  padding: 0.5rem;

  font-size: 1rem;
}

.btns {
  margin: 2rem 0;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.btns.center { justify-content: center; }

.response {
  margin: 1rem 0;
  padding: 0.5rem 1rem;

  display: block;
}
.response.success {
  background: var(--color-success);
}
.response.danger {
  color: #fff;
  background: var(--color-danger);
}
.response p { margin-bottom: 0; }

.subtitle { 
  margin-top: -1rem; 

  font-weight: 300;
  font-style: italic;
}

header {
  background: var(--color-accent-light);
  border-bottom: 8px black solid;
}

header .content {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: var(--header-max-width);
}

header .content .btn {
  --color-accent-light: hsl(19, 97%, 47%);
  --color-secondary: var(--color-accent);
  /*--color-accent-light: var(--color-accent);*/
  border: 2px black solid;
  /*background: var(--color-accent-light);*/
}
header .content .btn:hover {
  color: #fff;
}

nav {
  padding: 1rem 2rem;

  background: var(--color-secondary);
  border-bottom: 4px black solid;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

nav h1 { margin-bottom: -0.3em; }

nav ul { 
  margin-top: 0.2em;
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  gap: 1rem;

  list-style: none;
  margin-left: 0;
}
nav ul a {
  /*font-family: Newsreader, sans-serif;*/
  font-size: 1.3em;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
nav li { margin-bottom: 0; }

main {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: var(--content-max-width);
  min-height: 50vh;
}
main.larger {
  max-width: var(--header-max-width);
}
main.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  padding: 4rem;

  background: var(--color-secondary);
  border-top: 8px black solid;

  color: #fff;
  text-align: center;
}
footer .content {
  margin: 0 auto;
  max-width: var(--header-max-width);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer h2 { margin-bottom: 0; }
footer .first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
footer ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
footer a {
  display: block;

  color: #fff;
  font-weight: 500;
}
footer p { margin-bottom: 0; }


main > article {
  margin-bottom: 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: baseline;
}

article > article {
  padding: 2rem;

  background: var(--color-tertiary);
  border: 4px black solid;

  font-size: 18px;
}
