:root {
  --color-secondary: hsl(19, 97%, 47%);
  --color-accent: hsl(217, 100%, 48%);
  --color-accent-light: hsl(217, 100%, 65%);

  --content-max-width: 900px;
  --header-max-width: calc(var(--content-max-width) + 200px);

  font-size: 20px;
}

@font-face {
  font-family: Salmond;
  font-style: normal;
  font-weight: light;
  src: url("/fonts/Salmond/Salmond-Light.ttf");
}
@font-face {
  font-family: Salmond;
  font-style: normal;
  font-weight: semibold;
  src: url("/fonts/Salmond/Salmond-Semibold.ttf");
}

body {
  font-family: Inter, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Salmond, sans-serif;
  font-weight: bold;
  line-height: 1.4em;

  padding-top: 0.3em; /* to correctly align headings */
  margin-bottom: 0.5em;
}

h1 { font-size: 2em; font-weight: 800; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}
a:hover { text-decoration: underline; }
a.btn {
  padding: 0.5em 1em;

  display: inline-block;

  font-size: 1.15rem;

  color: #000;
  background: var(--color-accent-light);
  box-shadow: -0.3em 0.3em 0 var(--color-secondary);

  transition: .3s;
}
a.btn:hover {
  text-decoration: none;
  color: #fff;
  background: var(--color-secondary);
  box-shadow: 0.3em -0.3em 0 var(--color-accent-light);

  transition: .3s;
}

em { font-style: italic; }
b { font-weight: bold; }

ul, ol { margin-left: 2em; }

ul { list-style: disc; }
ol { list-style: decimal; }

img { width: 100%; }

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 2rem;
  align-items: center;
}

.btns {
  margin: 2rem 0;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

header {
  background: var(--color-accent-light);
}

header .content {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: var(--header-max-width);
}

nav {
  padding: 1rem 2rem;

  background: var(--color-secondary);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

nav h1 { margin-bottom: 0; }

nav ul { 
  display: flex;
  flex-direction: row;
  gap: 1rem;

  list-style: none;
  margin-left: 0;
}
nav ul a {
  /*font-family: Newsreader, sans-serif;*/
  font-size: 1.3em;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

main {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: var(--content-max-width);
  min-height: 50vh;
}

footer {
  padding: 4rem;

  background: var(--color-secondary);

  color: #fff;
  text-align: center;
}
footer .content {
  margin: 0 auto;
  max-width: var(--header-max-width);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer h2 { margin-bottom: 0; }
footer .first {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
footer ul {
  list-style: none;
  margin-left: 0;
}
footer a {
  display: block;

  color: #fff;
  font-weight: 500;
  margin-bottom: 0.5em;
}
footer p { margin-bottom: 0; }
