<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="/css/style.css" rel="stylesheet" />
    <meta name="description" content="" />
    <!-- Open Graph -->
    <meta name="og:title" content="" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="" />
    <meta name="og:image" content="" />
    <meta name="og:description" content="" />
    <meta name="og:local" content="fr_FR" />
    <meta name="og:site_name" content="IO/SU 2026" />
  </head>
  <body>
    {{ template "header.gohtml" . }}
    {{ block "content" . }}{{ end }}
  </body>
</html>
